@import "tailwindcss";
@plugin "daisyui";



@theme {
  /* --color-primary: #cb0e10; old red*/
  --color-primary:#cb0e10;
  --color-secondary: #081c47;
  --font-ubuntu: "Ubuntu", sans-serif;
    --font-nunito: "Nunito", sans-serif;


}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;

  --color-primary: #cb0e10;
  --color-secondary: #081c47;
 
}
body{
  font-family: var(--font-nunito);
   
}
.textColor{
  color:#000;
}
.destinationSwiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.talk-btn:hover {
  animation: swing;
  animation-duration: 1s;
}