.german-popular-courses .swiper-pagination {
  bottom: 10px !important;
}

.german-popular-courses .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: #cbd5e1;
  opacity: 1;
}

.german-popular-courses .swiper-pagination-bullet-active {
  width: 26px;
  border-radius: 999px;
  background: #631a33;
}